<div class="page-header">
  <h1>Variedades de Café</h1>
</div>

<div class="row">
  <div class="col-md-12">
      <%= link_to 'Nueva variedad de café', new_barista_coffee_bean_path, class: 'pull-right btn btn-default' %>

    <table class="table datatable">
      <thead>
        <tr>
          <th>SKU</th>
          <th>Nombre</th>
          <th>Gramos por bolsa</th>
          <th>País Origen</th>
          <th>Tostador</th>
          <th>Disponible</th>
        </tr>
      </thead>
      <tbody>
        <% @beans.each do |bean| %>
          <tr>
            <td><%= link_to bean.sku, edit_barista_coffee_bean_path(bean) %></td>
            <td><%= bean.name %></td>
            <td><%= bean.available_packages.join(', ') %></td>
            <td><%= bean.origin_country %></td>
            <td></td>
            <td><%= active_icon(bean.is_active) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
