<div class="page-header">
  <h2><span class="glyphicon glyphicon-user"></span> Usuarios</h2>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-responsive">
      <thead>
        <th>Nombre</th>
        <th>Email</th>
        <th>Fecha Registro</th>
        <th></th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name.titleize %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime('%d/%m/%Y') %></td>
            <td><%= link_to raw("<span class='glyphicon glyphicon-eye-open'></span>"), barista_user_path(user) %></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>