<footer>
   <div class="container">

    <div class="row">

      <div class="col-md-4">

        <h4>Tostadurías</h4
        <p><a href="mailto:hola@thecoffeekit.com">Ponte en contacto</a> para que tu café se ofrezca a través de la suscripción mensual de The Coffee Kit. Buscamos
          tostadores de café apasionados, que garanticen un café fresco, 100% Arábica, y de diversos orígenes.</p>

      </div>

      <div class="col-md-4 social">

        <h4>Síguenos</h4>
        <a href="https://twitter.com/thecoffeekit"><img src="<%= asset_path 'twitter.png' %>" alt="twitter"></a>
        <a href="https://www.facebook.com/thecoffeekit"><img src="<%= asset_path 'facebook.png' %>" alt="facebook"></a>
        <a href="http://instagram.com/thecoffeekit"><img src="<%= asset_path 'instagram.png' %>" alt="instagram"></a>
        <br>
        <br>

      </div>

      <div class="col-md-4">

        <h4>Suscríbete a nuestro newsletter</h4>
        
        <div id="mc_embed_signup">

          <form action="//thecoffeekit.us7.list-manage.com/subscribe/post?u=6d19c34e51d015676ac8eaa01&amp;id=5e14222ae6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email" required><br>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <!-- <div><input type="text" name="b_6d19c34e51d015676ac8eaa01_5e14222ae6" tabindex="-1" value=""></div> -->
            <div class="clear"><input type="submit" value="¡Quiero!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
          </form>

        </div>

      </div>

      <div class="col-md-12">
        
        <p class="rights">Todos los derechos reservados <%= link_to 'thecoffeekit.com', root_path %> | <%= link_to 'hola@thecoffeekit.com', 'mailto:hola@thecoffeekit.com' %> | <%= link_to 'Términos y Condiciones', terms_path %> | <%= link_to 'Blog', 'http://blog.thecoffeekit.com' %></p>
      </div>

    </div>
  
  </div>

</footer>
 