<div id="footer">
 <div class="container">

  <div class="row">

    <div class="col-md-4">

      <h2>TOSTADURÍAS</h2>
      <p><a href="mailto:hola@thecoffeekit.com">Ponte en contacto</a> para que tu café se ofrezca a través de la suscripción mensual de The Coffee Kit. Buscamos
        tostadores de café apasionados, que garanticen un café fresco, 100% Arábica, y de diversos orígenes.</p>

      </div><!-- col-md-4 -->
      <div class="col-md-4 redes">

        <h2>SÍGUENOS</h2>
        <a href="https://twitter.com/thecoffeekit"><img src="<%= asset_path 'twitter.png' %>" alt="twitter"></a>
        <a href="https://www.facebook.com/thecoffeekit"><img src="<%= asset_path 'facebook.png' %>" alt="facebook"></a>
        <a href="http://instagram.com/thecoffeekit"><img src="<%= asset_path 'instagram.png' %>" alt="instagram"></a>

      </div><!-- col-md-4 -->
      <div class="col-md-4">
       <a href="<%= root_path %>"><img src="<%= asset_path 'logo-footer.png' %>" alt="logo"></a>
       <br>
       <br>
       <p>Todos los derechos reservados <a href="http://thecoffeekit.com">thecoffeekit.com</p>
       <p><a href="mailto:hola@thecoffeekit.com">hola@thecoffeekit.com</a></p>
       <p><%= link_to 'Terminos y Condiciones', '#' %></p>


     </div><!-- col-md-4 -->
   </div><!-- row -->
 </div><!-- container -->

</div><!-- footer -->