<!DOCTYPE html>
<html>
  <%= render 'shared/mixpanel_snippet' %>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/header_checkout' %>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer_checkout' %>
    <%= render 'shared/analytics_snippet' %>
  </body>
</html>
